body{
    background: url("img/bg.png") #f8f8f8 repeat-x; 
}

.table{
    width:720px;
    position:relative;
}

.table th,
.table td{
    text-align:center;
    width:120px;
    vertical-align:middle;
}

.table td{
    font-size:1.2em;
}

.rule{
    display: inline-block;
    width: 2em;
}

.rule{
    display: inline-block;
    width: 2em;
}

.rule:nth-of-type(2n+1){
    text-align:right;
}

.rule:nth-of-type(2n){
    text-align:left;
}

.gen-singular:after{
    content:"";
    position:absolute;
    width:79px;
    height:90%;
    left:100%;
    top:20%;
    margin-top:16px;
    border:5px solid #ccc;
    border-left:0 none;
    border-radius:0 500px 500px 0;
}

.gen-singular:before{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    left:100%;
    top:110%;
    margin-top:10px;
    margin-left:-4px;
    border-right:20px solid #ccc;
    border-top:14px solid transparent;
    border-bottom:14px solid transparent;
    transform:rotate(-12deg);
    z-index:1;
}
