<table class="table table-bordered">
	<tbody>
		<tr>
			<th>Masculine</th>
			<th>Neuter</th>
			<th colspan="2">Feminine</th>
			<th colspan="2">Plural</th>
		</tr>
		<tr>
			<td colspan="2">-у / -ю</td>
			<td colspan="2">-е / -и</td>
			<td colspan="2">-ам / -ям</td>
		</tr>
		<tr>
			<td colspan="2">-ому / -ему</td>
			<td colspan="2">-ой / -ей</td>
			<td colspan="2">-ым / -им</td>
		</tr>
		<tr>
			<th colspan="6">Pronouns</th>
		</tr>
		<tr>
			<td>мне</td>
			<td>тебе</td>
			<td>ему / ей</td>
			<td>нам</td>
			<td>вам</td>
			<td>им</td>
		</tr>
	</tbody>
</table>

